@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:wght@800&display=swap');

.containerHome {
    overflow-x: hidden;
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    /* align-items: center; */
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: bold;
    background-color: rgb(238, 233, 233);
}

.containerAllSelect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
    height: auto;

    margin-top: 100px;
    margin-bottom: 0px;
}

.group {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    height: 85px;
    margin: 10px;
    border-radius: 5px;
}

.containerbutton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 80px;
    place-items: center;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    align-items: center;

    position: fixed;
    box-shadow: #000000a2 0 1px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 100;
}

.twobuttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.containerCards {

    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.svg {
    width: 20px;
    height: 20px;
    right: 10px;

}

.greyPath {
    fill: grey;
    /* Color gris para rellenar el path */
}


.section {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
}

.h3 {
    width: 100%;
    height: 7px;
    color: grey;
    font-size: 1rem;

}

.select {
    width: 130px;
    border-radius: 5px;
    align-items: center;
    display: flex;

}


.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: solid 2px;
    border-color: white;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    width: auto;
    background-color: transparent;

    &:hover {
        transform: scale(1.04);
        transition: transform 0.3s ease-in-out;
        text-decoration: underline;
        font-weight: bold;
    }
}

.button2 {
    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 15px;
    height: 40px;
    width: auto;
    background-color: transparent;
    cursor: pointer;
}


.button2:hover,
.button2:focus {
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
    text-decoration: underline;
    font-weight: bold;
}

.button2 a {
    text-decoration: none;
    color: inherit;
}


.button3 {

    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 15px;
    height: 40px;
    width: auto;
    background-color: transparent;
    cursor: pointer;
}

.button3:hover,
.button3:focus {
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
    text-decoration: underline;
    font-weight: bold;
}

.button3 a {
    text-decoration: none;
    color: inherit;
}




.containerSearchBar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: #000000e1 0 3px 3px;
    backdrop-filter: blur(4px);
}

* {
    box-sizing: border-box;
}


.visible {
    display: block;
}


.hidden {
    display: none;
}

@media (max-width: 767px) {
    .containerCards {
        grid-template-columns: 1fr;
    }

    .containerAllSelect {
        grid-template-columns: 1fr 1fr;
        margin-top: 160px;
    }

    .containerbutton {
        grid-template-columns: 1fr;
        height: 130px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos específicos para dispositivos móviles medianos */
    .containerCards {
        grid-template-columns: 1fr 1fr;
    }

    .containerbutton {
        grid-template-columns: 1fr;
        height: 130px;
    }
    .containerAllSelect {
        
        margin-top: 160px;
    }

}
