.containerHome {
    /* background-color: beige; */
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    gap:30px;
    /* margin: 20px; */
    
    align-items: center;
   
}
.containerAllSelect {
    background-color: rgb(228, 228, 166);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 10px; */
    /* place-items: center; */
    justify-items: center;
    align-items: center;
    
    width:100%;
    height:100%;
    backdrop-filter: blur(4px);
    box-shadow: hsla(0, 0%, 0%, 0.882) 0 5px 15px;
}

.group {
  
    display: grid;
grid-template-columns: 1fr;
    width: auto;
    height: auto;
    margin:10px;
    border: solid;
  
    border-radius: 5px;
    
    background-color: rgba(179, 19, 19, 0.322);
}


.containerCards {
    background-color: rgba(231, 183, 51, 0.753);
    width:100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;   
    
   
    box-shadow: hsla(0, 0%, 0%, 0.882) 0 5px 15px;
}





.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.h3 {
    width: 170px;

}

.select {
    width:100%;
}


@media (max-width: 768px) {
    .containerCards {
        grid-template-columns: 1fr;
    }
    .containerAllSelect{
        grid-template-columns: 1fr 1fr;
    }
}
.containerbutton {
    background-color: rgba(224, 184, 108, 0.781);
    box-shadow: hsla(0, 0%, 0%, 0.882) 0 5px 15px;
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.button {
    border-radius: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;

    &:hover {
        transform: scale(1.04);
        transition: transform 0.3s ease-in-out;
    }

    height: 6vh;
    width: 12vw;
    background-color: green;
}

.button2 {
    text-decoration: none;
    border-radius: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;

    a {
        display: block;
        text-decoration: none;
        color: white;
    }

    &:hover {

        transform: scale(1.04);
        transition: transform 0.3s ease-in-out;
    }

    height: 6vh;
    width: 12vw;
    background-color: rgb(194, 4, 4);
}

.containerSearchBar {
    width: 50%;
    height: 40px;
    background-color: rgba(71, 71, 33, 0.726);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: #000000e1 0 3px 3px;
    backdrop-filter: blur(4px);
}