.containerHome {
    display:grid;
    grid-template-columns: 1fr;
   
     

     
    width: 100%;
    height: 100%;
    
 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    justify-items: center;

}
.containerCards {
   
 
    width: 95vw;
    
   
   display: grid; 
   grid-template-columns: 1fr 1fr ;
   place-items: center;
   justify-content: space-between;
   
       align-content: center;
       justify-items: center;
      
   }


   .containerSearchBar {
    display: flex;
    width: 20vw;
    height: 10 vh;
   }

.containerAllSelect{
    
    background-color: transparent;
    backdrop-filter: blur(4px);
    border-color: black;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: hsla(0, 0%, 0%, 0.882) 0 5px 15px;
    width: 80vw;
    height: 20vh;
   
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* flex-wrap: wrap; */
    /* flex-direction: row;  */
    /* justify-content: space-between; */
        display: flex;
        
    align-items:center;
    
    flex-direction: row;
    justify-content: center;
    
    place-items: center;
    justify-items: center;
   }

   .container {
width: 40vw;
height: 30vh;
    display: flex;
    justify-content: space-around;

   
   }

   .select {
    font-family: 'Open Sans', sans-serif; /* Intentará usar Open Sans, y si no está disponible, usará una fuente sans-serif genérica */
  font-size: 14px; /* Ajusta el tamaño de la fuente según tus preferencias */
  line-height: 1.6; /* Ajusta la altura de línea según tus preferencias */
  color: black; /* Ajusta el color del texto según tus preferencias */

  /* Otros estilos CSS que desees aplicar */
    display: flex;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;

/* margin: 10px;
padding: auto; */
   }

  


   @media (max-width:1140px){
    .containerCards {
       display: grid;
       grid-template-columns: 1fr 1fr;
       width: 65 vw;
       place-items: center;
       justify-content: space-between;
       
           align-content: center;
           justify-items: center;
          
   }
   .containerSelect {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: auto;
    place-items: center;
    justify-content: space-between;
    
        align-content: center;
        justify-items: center;
       
}
    }

   @media (max-width: 768px) {
     .containerCards {  
       grid-template-columns:  1fr; 
       place-items: center;
justify-content: space-between;

   align-content: center;
   justify-items: center;
  
     }

     .containerSelect {
      display: flex;
      /* flex-direction: row; */
      flex-direction: column;
      width: 100vw;
      place-items: center;
      justify-content: space-between;
      
          align-content: center;
          justify-items: center;
         
  }

  .select {
    display: flex;
    flex-direction: column;
  }
   }
   
     /* Otra media query si es necesario */
     @media (max-width: 480px) {
       .containerCards {
           grid-template-columns: 1fr; /* Cambias a una sola columna en pantallas aún más pequeñas */
          width: 50 vw;
          place-items: center;
justify-content: space-between;

   align-content: center;
   justify-items: center;
  
     }
  .containerSelect {
    width: 60vw;
    height: auto;
   
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* flex-wrap: wrap; */
    flex-direction: row; 
    justify-content: space-between;
        display: flex;
    align-items:center;
  }
  .select {
    width: auto;
    display: flex;
    flex-direction: column;
  }


   }

  
   

  


   

   .h3 {
    display: flex;
    background-color: rgb(124, 64, 24);
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px; 
    line-height: 1.3; 
   padding: 7px;
   border-radius: 0.5rem;

   box-shadow: #000000e1 0 5px 15px;
   &:hover {
    background-color: black;
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}
   
   }

   .containerbutton{
    background-color: transparent;
    display:flex;
    width: 80vw;
    height: 20vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 25px; */

   }

   .button {
    border-radius: 0.5rem;
    font-family: 'Open Sans', sans-serif; 
    color: white;
    font-size: 15px;
   &:hover {
    
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}
    
    height: 6vh;
    width: 12vw;
    background-color: green;
    
   }

   .button2 {
    text-decoration: none;
    border-radius: 0.5rem;
    font-family: 'Open Sans', sans-serif; 
    color: rgb(255, 255, 255);
    font-size: 15px;
    a {
        display: block;
        text-decoration: none;
        color: white;
        }
   &:hover {
    
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}
    height: 6vh;
    width: 12vw;
    background-color: rgb(194, 4, 4);

   }

   .containerSearchBar{
    width: 25vw;
    height: 8vh;
    background-color: rgba(71, 71, 33, 0.726);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: #000000e1 0 3px 3px;
    backdrop-filter: blur(4px);
   }