.input {
    display: flex;
    width: 350px;
    height: 30px;
    align-content: center;
   align-items: center;
    border-radius: 20px;
    justify-content: center;
    justify-items: center;
    border: solid 1px;
    border-color: rgba(128, 128, 128, 0.658);
    outline: none;
    padding-left: 20px;
}

.input::placeholder {
    text-align: left; /* Centrar el texto del placeholder */
    color: rgba(128, 128, 128, 0.658); /* Color del placeholder */
}

.container{
    display: flex;
    justify-content: center;
/* margin: 20px; */
    height: auto;
    width: 100%;
    /* background-color: yellowgreen; */


}
